# LOOP(while loop,for loop) 
    Assignment no.4

Q. 1)   print numbers from 1 to 5 using whilw loop.

In [3]:
# initialize the number variable
number = 1
while number <=5:       #  loop until the number is greter than 5 
    print(number)         # print the number
    number = number + 1

1
2
3
4
5

Q.2 ) calculate the sum of numbers from 1 to 10 using while loop.

In [5]:
# initialize the sum variable
sum = 0 
number =1
while number <=10:
    sum = sum+number
    number = number + 1
    print("the sum of numbers from 1 to 10", sum)

the sum of numbers from 1 to 10 1
the sum of numbers from 1 to 10 3
the sum of numbers from 1 to 10 6
the sum of numbers from 1 to 10 10
the sum of numbers from 1 to 10 15
the sum of numbers from 1 to 10 21
the sum of numbers from 1 to 10 28
the sum of numbers from 1 to 10 36
the sum of numbers from 1 to 10 45
the sum of numbers from 1 to 10 55

Q.3 ) calculate the factorial of number using a for loop.

In [8]:
n = int(input("enter a number"))
result = 1
if n<0:
    print("factorial does not exist for negative number")
elif n==0:
    print("the factorial of 0 is 1")
else:
    for i in range(1,n+1):
        result = result*i
    print("the factorial of", n, "is", result)

enter a number5
the factorial of 5 is 120

Q.4) count the number of vowels in a string using a for loop.

In [25]:
string = "hello, this is priyanka"
count = 0
vowels = "aeiouAEIOU"

for char in string:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Number of vowels: 7

Q.5 ) print a pattern using nested loop

ex.1 print square pattern of star

In [34]:
n = 5 
for i in range(n):
    for j in range(n):
        print(" * ", end=" ")
    print()

 *   *   *   *   *
 *   *   *   *   *
 *   *   *   *   *
 *   *   *   *   *
 *   *   *   *   *

ex.2 print right triangle pattern of numbers

In [42]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

ex.3 print dimond pattern of letters

In [71]:

n = 5

# First patter
# Second pattern: Lower triangle
for i in range(n - 1):
    for j in range(i + 1):
        print(" ", end="")
    for k in range(n - i - 1):
        print(chr(65 + k), end="")
    print()n: Upper triangle
for i in range(n):
    for j in range(n - i - 1):
        print(" ", end="")
    for k in range(i + 1):
        print(chr(65 + k), end="")
    print()

SyntaxError: invalid syntax (1088191511.py, line 10)

Q.6 generate a multiplication table using nested loop

In [66]:
 n = 10 
for i in range(1,n+1):
    for j in range(1,n+1):
        product=i*j
        print(f"{product:4}", end="")
    print()

   1   2   3   4   5   6   7   8   9  10
   2   4   6   8  10  12  14  16  18  20
   3   6   9  12  15  18  21  24  27  30
   4   8  12  16  20  24  28  32  36  40
   5  10  15  20  25  30  35  40  45  50
   6  12  18  24  30  36  42  48  54  60
   7  14  21  28  35  42  49  56  63  70
   8  16  24  32  40  48  56  64  72  80
   9  18  27  36  45  54  63  72  81  90
  10  20  30  40  50  60  70  80  90 100

dimond pattern

In [67]:

n = 5

# First patter
# Second pattern: Lower triangle
for i in range(n - 1):
    for j in range(i + 1):
        print(" ", end="")
    for k in range(n - i - 1):
        print(chr(65 + k), end="")
    print()n: Upper triangle
for i in range(n):
    for j in range(n - i - 1):
        print(" ", end="")
    for k in range(i + 1):
        print(chr(65 + k), end="")
    print()

    A
   AB
  ABC
 ABCD
ABCDE
 ABCD
  ABC
   AB
    A